.arrowClosed,
.arrowOpen {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
}

.arrowClosed {
  top: 13px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrowOpen {
  top: 17px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdownControl {
  @apply rounded bg-indigo-900 bg-opacity-25 border border-indigo-600 cursor-pointer hover:bg-opacity-50 hover:shadow-lg transition;
}
